

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>

    <script src="~/Scripts/game.js"></script>

    <link rel="stylesheet" href="~/Content/Site.css">

    <title>NIM</title>
</head>
<body>
<div class="wrapper">
    <div class="game">
        <h1>NIM</h1>
        <p class="player">Hraje hráč číslo:  <span id="playerName"></span></p>
            <div id="gameContainer"></div>

        <div class="button move">Potvrdit tah</div>
    </div>

    <div class="help">
        <h2>Pravidla</h2>

        <p>
            Nim is a mathematical game of strategy in
            which 2 players take turns removing objects
            from distinct heaps. On each turn a player
            must remove at least one object and may
            remove any number of continous objects
            provided they all come from the same heap.
            The player who swipes the last object wins.
        </p>

        <div class="button newGame">Nová hra</div>
    </div>
</div>
</body>
</html>

<script>

    function GetNewGame() {


        $.post('@Url.Action("NewGame", "Nim")', {
            gameName: 'HRA',
            player1: 'A',
            player2: 'B'        },
        function (res) {
            // call jirka js new game
            GenerateGameHtml(res);
            $("#playerName").text(res.PlayerOnTheMove);
        })

    }

    $(document).ready(function () {

        $('.newGame').click(function () {
            GetNewGame();
        });

        $('.move').click(function () {
            // call jirka function to get params

            var input = GetInput();

            $.post('@Url.Action("Move", "Nim")', {
                id: window.modelId,
                pile: input[0],
                count: input[1]
            },
            function (res) {
                // call jirka js new game
                GenerateGameHtml(res);
                $("#playerName").text(res.PlayerOnTheMove);
            })
        });


        GetNewGame();
    });




</script>
