

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>

    <script src="~/Scripts/game.js"></script>

    <link rel="stylesheet" href="~/Content/Site.css">

    <title>NIM</title>
</head>
<body>
<div class="wrapper">
    <div class="game">
        <h1>NIM</h1>
        <p id="messageText" class="player">Hraje hráč číslo: </p>
            <div id="gameContainer"></div>

            <div  id="ButtonMove" class="button move">Potvrdit tah</div>
        </div>

        <div class="help">
            <h2>Pravidla</h2>

            <p>
                Nim is a mathematical game of strategy in
                which 2 players take turns removing objects
                from distinct heaps. On each turn a player
                must remove at least one object and may
                remove any number of continous objects
                provided they all come from the same heap.
                The player who swipes the last object wins.
            </p>

            <div class="button newGame">Nová hra</div>
        </div>
    </div>
</body>
</html>

<script>




    $(document).ready(function () {


        InitNim();


    });




</script>
