

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>

    <script src="~/Scripts/game.js"></script>
    <style>
<<<<<<< HEAD
        .gamefield {
            width: 20px;
            height: 20px;
            background-color: red;
            border: 1px solid black;
            display: inline-block;
        }

        .notcheck {
            background-color: gray;
=======
        * {
            padding: 0; margin: 0;
        }
        body {
            padding: 20px;
        }
        h1 {
            display: inline-block;
            color: green;
            font-size: 48px;
        }
        .button {
            width: 120px;
            display: inline-block;
            border: 1px solid #343434;
            background-color: #79D279;
            padding: 5px;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
            box-shadow: 0 0 2px rgba(0,0,0,0.22);
        }
        .button:hover {
            background-color: #1A941A;
            color: #fff;
        }
        .help {
            float: right;
            display: inline-block;
            width: 250px;
        }
        .help h2 {
            padding: 0 0 10px 0;
        }
        .newGame {
            display: block;
            margin: 20px 0;
>>>>>>> 4291aebdb455ff7aebe150258df2def02d75539e
        }
    </style>
    <title>NIM</title>
</head>
<body>
    <div>
        <h1>NIM</h1>
        <div id="gameContainer"></div>

        <div class="button move">Potvrdit tah</div>
        <div class="help">
            <h2>Pravidla</h2>

            Nim is a mathematical game of strategy in
            which 2 players take turns removing objects
            from distinct heaps. On each turn a player
            must remove at least one object and may
            remove any number of continous objects
            provided they all come from the same heap.
            The player who swipes the last object wins.

            <div class="button newGame">Nová hra</div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        $('.newGame').click(function () {
            $.getJSON('NewGame', function (res) {
                // call jirka js new game
                GenerateGameHtml(res);
            })
        });

        $('.move').click(function () {
            // call jirka function to get params

            var input = GetInput();

            $.post('Move', {
                id: window.modelId,
                pile: input[0],
                count: input[1]
            },
            function (res) {
                // call jirka js new game
                GenerateGameHtml(res);
            })
        });
    });




</script>
