
@model int

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NIM</title>
</head>
<body>
    <div>

        <h1>@this.Model </h1>
    </div>
</body>
</html>
