

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>

    <script src="~/Scripts/game.js"></script>
    <style>
        .gamefield {
            width: 20px;
            height: 20px;
            background-color: red;
            border: 1px solid black;
            display: inline-block;
        }

        .notcheck {
            background-color: gray;
        }
    </style>
    <title>NIM</title>
</head>
<body>
    <div>
        <h1>NIM</h1>
        <div id="gameContainer"></div>

        <div class="button move">Potvrdit tah</div>
        <div class="help">
            Nim is a mathematical game of strategy in
            which 2 players take turns removing objects
            from distinct heaps. On each turn a player
            must remove at least one object and may
            remove any number of continous objects
            provided they all come from the same heap.
            There are 3 heaps with 3, 5 and 7 objects
            correspondingly. You can either play versus
            a friend or versus the PC in which you
            choose one of the available diﬀiculties. The
            player who swipes the last object wins.
        </div>
        <div class="button newGame">Nová hra</div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        $('.newGame').click(function () {
            $.getJSON('NewGame', function (res) {
                // call jirka js new game
                GenerateGameHtml(res);
            })
        });

        $('.move').click(function () {
            // call jirka function to get params

            var input = GetInput();

            $.post('Move', {
                id: window.modelId,
                pile: input[0],
                count: input[1]
            },
            function (res) {
                // call jirka js new game
                GenerateGameHtml(res);
            })
        });
    });




</script>
