* {
    padding: 0; margin: 0;
}
body {
    background-color: #eeeff0;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.game {
    display: table-cell;
    padding: 15px;
}

.gamefield {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}

.notcheck {
    background-color: gray;
    padding: 0; margin: 0;
}

.game h1 {
    display: inline-block;
    color: #56A956;
    font-size: 48px;
}

.button {
    width: 120px;
    display: inline-block;
    border: 1px solid #418C41;
    background-color: #56A956;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 2px rgba(0,0,0,0.32);
}

.button:hover {
    background-color: #1A941A;
    color: #fff;
}

.newGame {
    display: block;
    margin: 20px 0;
}

.help {
    display: table-cell;
    width: 250px;
    height: 100vh;
    padding: 15px;
    background-color: #fff;
}

.help h2 {
    padding: 0 0 10px 0;
    margin: 0;
}

.help p {
    text-align: justify;
}
